	<style>
		body{
			flex-direction: row;
			font-size: medium;
			text-align: center;
		}

		img{
			position: relative;
			width: 40vh;
			height: 40vh;
		}
	</style>
	
	<h1>Space Shooter</h1>
	<img  class="fist-img" src="img/player.png" alt="">

	<h1>Sobre o jogo</h1>
	O objetivo do jogos é explorar o espaço enquanto enfrenta inimigos extraterrestres e outras naves.
	Atire e desvie constantemente dos projeteis disparados por seus inimigos!
	Preste bastante atenção nos obstaculos que iram aparecem diante de voce!



	