
#space {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    background-image: url('../img/starBackground.png');
}
  
#ship {
    position: absolute;
}
  
.enemy-ship {
    position: absolute;
}