<h1>Áreas da Ciência</h1>
<ul class="point">
    {{#each areas}}
    <li>{{nome}}</li>
    {{/each}}
</ul>

<style>
        h1{
            display: flex;
            justify-content: center;
        }
        .point{
            display: flex;
            justify-content: space-evenly;
        }

</style>